/* Front Page Template */
body {
  font-family: "Open Sans", sans-serif !important;
  color: #333;
  height: 90%;
}

.page-title {
  margin-left: -120px;
}

.dashboard-main-wrapper {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  padding-top: 55px;

  h4 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
  }
}

.dashboard-header {
  .navbar {
    background-color: #2b3643 !important;
    border-bottom: 0;
    min-height: 45px;
  }
}

.navbar-nav .nav-item {
  a.nav-link {
    font-size: 14px;
    padding: 8px;
  }

  .nav-link svg {
    font-size: 0.9rem;
    margin: 0 1rem;
  }
}

/* Left Sidebar My Documents */
.nav-left-sidebar.sidebar-dark {
  background-color: #364150;
  top: 45px;

  .navbar {
    padding: 0;
  }

  .navbar-nav {
    padding: 0;

    a.nav-link {
      // color: #fff;
      color: #7a80b4;
      // color: #b4bcc8;
    }

    a.add-new {
      color: #fff;

      &:focus {
        background-color: #d4565c;
      }
    }
  }

  .add-new {
    background-color: #d4565c;
  }

  .modal-dialog {
    margin: 15% auto;
    max-width: 320px;
  }
}

/* My Profile Page */
.template-my-profile {
  .row-wrap {
    border: 1px solid #26a69a;

    .form-header {
      background-color: #26a69a;
      // margin-left: -10px;
      // margin-right: -10px;
      padding: 0 10px;

      .form-header__title {
        color: #fff;
        font-size: 17px;
        padding: 11px 0 9px 0;

        .svg-inline--fa {
          margin-right: 5px;
          // margin-left: 9px;
        }
      }
    }

    form {
      background-color: #fff;
    }

    form .form-body {
      font-size: 14px;
      // margin: 20px 0;
      padding: 20px 10px;
      width: 100%;

      .form-group.row {
        padding-bottom: 0;
        // margin-bottom: 15px;

        .email-notif {
          font-size: 13px;
          font-weight: 400;
          text-align: right;
        }
      }

      .col-form-label {
        text-align: right;

        .required {
          color: #e02222;
          font-size: 12px;
          padding-left: 2px;
        }
      }

      .form-control {
        padding: 6px 12px;
      }
    }

    .form-actions {
      padding: 20px 10px;
      margin: 0;
      background-color: #f5f5f5;
      border-top: 1px solid #e5e5e5;

      .form-group {
        // justify-content: flex-end;
        width: 100%;
      }
    }

    .personal-info {
      width: 100%;

      .personal-info__title {
        background-color: #26a69a;
        padding: 0 10px;

        .personal-info__title-caption {
          color: #fff;
          padding: 11px 0 9px 0;
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.green {
  color: #fff;
  background-color: #26a69a;
}

.alert {
  border-radius: 0;
  font-size: 13px;
  line-height: 1;
}

/* My Document Page Template */
.template-my-documents {
  .page-bar {
    background-color: #f7f7f7;

    .page-bar-table {
      width: 100%;

      .fileaction_icon {
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
          color: #525ddc;

          label {
            color: #525ddc;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .contentdata {
    padding: 20px 0;
  }

  .created_folder {
    .folder-bar {
      .folder_info_wrapper {
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        line-height: 2;
        margin-bottom: 15px;
        width: 100%;
        height: 40px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .folder_icon {
          padding: 5px 10px;
          font-size: 18px;
        }

        .folder_name {
          font-size: 13px;
        }
      }
    }
  }

  .card-figure {
    padding: 0;

    .figure {
      border: 1px solid #dfdfdf;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

      .figure-attachment {
        a {
          height: 200px;
          width: 100%;

          img.current {
            height: 200px;
            width: 100%;
          }
        }
      }

      .figure-caption {
        border: none;
        padding: 5px;
        height: 20%;
        margin-top: 0;

        span:first-child {
          color: #d4565c;
        }
      }

      &.active {
        border: 1px solid rgb(28, 175, 154);

        .figure-caption {
          background-color: rgb(28, 175, 154);

          li {
            color: #fff;
          }
        }
      }
    }
  }
}

/* modals */
#share_modal {
  .modal {
    &-dialog {
      min-width: 600px;
    }
  }

  .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
    font-size: 13px;

    .tag {
      border-bottom: 2px solid red;
      background: #797979;
      font-size: 13px;
      float: left;
      margin-bottom: 3px;

      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .bs-select {
    @extend .bootstrap-tagsinput;

    padding: 6px 15px;
  }
}
