/* User Login and Register Page */
.logo {
  margin: 60px auto 20px auto;
  padding: 15px;
  text-align: center;
}

.template-user-login,
.template-user-register,
.template-user-lost-password {
  background: url("../images/initbg.jpg") no-repeat;
  background-size: cover;
  font-family: "Open sans", sans-serif;
  height: 100vh;
  line-height: unset;

  .splash-container {
    background: url("../images/bg-white-lock.png") repeat;
    width: 360px;
    margin: 0 auto;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;

    .card {
      .card-header {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: #eee;
        font-family: "Open sans", sans-serif;
        padding: 0;

        h3.form-title {
          color: #eee;
          font-family: "Open sans", sans-serif;
          font-size: 23px;
          font-weight: 300;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        p.after-header {
          font-size: 13px;
        }
      }

      .card-body {
        padding: 0;
      }
    }
  }
}

.form-group {
  margin-bottom: 0;

  &.confirm {
    margin-bottom: 15px;
  }
}

.form-control,
.form-control-lg {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 2rem 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  display: block;
  width: 100%;
  height: 34px;
  line-height: 1.42857143;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  border: 0;
  margin-bottom: 0;
  margin-top: 5px;
  padding-bottom: 0;
}

.input-icon .svg-inline--fa {
  color: #ccc;
  display: inline-block;
  font-size: 16px;
  margin-right: 0.3em;
  line-height: 14px;
  position: relative;
  top: 25px;
  right: -10px;
}

.rc-anchor-light.rc-anchor-normal {
  margin-top: 10px;
  width: 98.5%;
}

.alert-msg .alert {
  font-size: 14px;
  border: none;
  border-radius: 0;
  height: auto;
  line-height: 1.5;
  padding: 6px 12px;
  margin-bottom: 0;
  width: 100%;
}

/* User Login Page */
.alignright {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  width: 100%;
}

.login-txt {
  p {
    color: #eee;
    letter-spacing: 0.6;
  }

  .smaller-txt {
    font-size: smaller;
  }

  .forgot-psw {
    margin-top: 40px;
  }

  &.create-account p {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
  }
}

.abcRioButtonIcon {
  padding: 10px 0 10px 5px !important;
}

.abcRioButton.abcRioButtonBlue {
  background-color: #fff;
  color: #747474;

  .span.buttonText {
    font-size: 13px;
  }
}

.wow-button.wow-google {
  border: 0;
  border-radius: 0;
  font-size: small;

  &::after {
    content: "";
    background-image: url("../images/igoogle.svg");
  }
}

/* User Lost Password Page */
.template-user-lost-password {
  .form-actions {
    margin-top: 1rem;
  }
}
