/* mixins */
$browser-context: 16; // default font size

// px to em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// px to rem
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}


/* styles */
.template-my-documents .card-figure .figure .figure-attachment a img.current {
  object-fit: contain;
}

.modal {
  .modal-dialog {
    max-width: 600px;
  }

  .modal-content {
    border-radius: 0;
  }

  h5,
  .modal-title {
    font: {
      size: rem(17);
      weight: 300;
    }
  }

  p {
    font-size: rem(13);
    margin-bottom: 10px;
  }

  &-body {
    input {
      &[type="text"] {
        font-size: rem(14);
        border: 1px solid #e5e5e5;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
      }
    }

    .bootstrap-tagsinput {
      input[type="text"] {
        border: 0;
        padding: 0;
        height: auto;
        width: 100%;
      }
    }
  }

  &-footer {
    button {
      &[data-dismiss="modal"] {
        color: #333333;
        background-color: #E5E5E5;

        &:hover {
          background-color: lightgray;
        }
      }

      &[type="submit"] {
        background-color: #3598dc;

        &:hover {
          background-color: #2386ca;
        }
      }
    }
  }

  h4.shared-user-headding,
  .share-user-bottom-headding {
    margin: {
      top: 10px;
      bottom: 18px;
    }
    padding: {
      top: 10px;
      bottom: 10px;
    }
    color: #9b9b9b;
    font: {
      size: .875rem;
      weight: 800;
    }
  }
}

/* share with modal */
.bootstrap-tagsinput {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  display: block;

  input {
    border: 0;
    padding: 0;
    height: auto;
    width: 100%;

    &:focus {
      color: #555;
    }
  }

  .tag {
    border-bottom: 2px solid red;
    background: #797979;
    font-size: 13px;
    float: left;
    margin-bottom: 3px;

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

select.form-control.bs-select {
  border-radius: 0;
  position: relative;
  background: url("../images/down-arrow.png") 95% center no-repeat;
  -webkit-background-size: 10px;
  background-size: 10px;

  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: inherit;
  }

}

#shared_user {
  padding: 0 15px;
  font-size: rem(13);
}

.pull-left {
  float: left !important;
}

.dashboard-main-wrapper h4 {
  padding: 5px;
}

#exampleModal {
  .modal-dialog {
    max-width: 300px;
  }
}

body.template-user {
  &-login,
  &-register,
  &-lost-password {
    background: url(../../dist/images/initbg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.folder-double-click {
  &:hover {
    cursor: pointer;
  }
}

.folder_info_wrapper {
  pointer-events: none;
}

#share_submit,
#cancel_share{
  display: none;
  &.visible{
    display: inline-block;
  }
}

/* breadcrumbs */
#folderBreadCrumb {
  ul {
    padding: 8px;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
      vertical-align: top;

      .breadCrumb {
        border: solid 1px #F7F7F7;
        padding: 0 7px;
        height: 26px;
        line-height: 26px;
        color: #888;
        font-size: .875rem;
        margin: {
          bottom: 0;
        }
        border-radius: 0;
        background: transparent;
        position: relative;
        display: block;

        i {
          font: {
            size: .75rem;
          }
          display: inline-block;
          margin-left: 7px;
        }

        &.lastElem {
          color: #333;

          &:hover {
            cursor: default;
          }
        }

        &:hover {
          border-color: #dad4d4;
          background-color: #EAE7E7;
          text-decoration: none;
        }
      }
    }
  }
}

.dashboard-main-wrapper .sidebar-dark.nav-left-sidebar .nav-link {
  margin-bottom: 0;

  &.add-new {
    i {
      color: #fff;
    }
  }

  i {
    margin: 0 1rem;
  }

  &:hover i {
    color: #fff;
  }
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active i {
  color: #fff;
}

#navbarDropdownMenuLink2 i {
  margin: 0 1rem;
}

/* dashboard */
#uploaded_files {
  .notice {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
    padding: 15px;
    margin: 15px {
      top: 0;
    }
    display: block;
    width: 100%;
    font-size: rem(13);
  }
}

.page-bar {
  &-table {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      flex: 0 0 auto;
      padding: 0 10px;

      &.opt_wrp_td {
        min-width: 10%;
        text-align: right;
        a{
          color: #5b9bd1;
          display: inline-block;
          margin-left: 7px;
          &:hover {
            color: #3175af;
          }
        }
      }
    }
  }

  &_title {
    max-width: 20%;
  }
}

.template-my-documents .page-bar .page-bar-table .fileaction_icon span {
  a, label {
    color: #5b9bd1;
    &.disabled{
      color: #BEC5CB;
      cursor: default;
      &:hover{
        color: #BEC5CB;
      }
    }
    &:hover {
      color: #3175af;
    }
  }
}

#current_dir{
  padding-top: 15px;
}

.template-my-documents .created_folder .folder-bar.clicked {
  .folder_info_wrapper{
    background: rgb(28, 175, 154);
    color: #fff;
  }

}

.input-icon{
  position: relative;
  margin-bottom: 10px;
  i{
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.btn{
  &.btn-sm, .btn-xs {
    padding: 4px 10px 5px 10px;
    font-size: rem(13);
    line-height: 1.5;
  }
  &.blue{
    color: #FFFFFF;
    background-color: #3598dc;
    &:hover,
    &:active,
    &:focus{
      color: #FFFFFF;
      background-color: #2386ca;
    }
  }
  &.default{
    color: #333333;
    background-color: #E5E5E5;
    &:hover,
    &:active,
    &:focus{
      color: #333333;
      background-color: lightgray;
    }
  }
}

.pull-right{
  float: right !important;
}

#invalid_email-error{
  margin: 5px 0;
  color: #a94442;
  font-size: rem(13);
  display: none;
}